@import "../variables";

.taskify_form {
  margin-top: 1rem;
  width: 100%;

  .taskify_div {
    position: relative;

    .task_input {
      border: none;
      border-radius: 1rem;
      background-color: $bg-color-alt;
      font-size: $font-size;
      outline: none;
      padding: .8rem;
      width: 100%;
      transition: $transition;

      &:focus {
        background-color: #fff;

        ~.add_task_btn,
        ~.clear_btn {
          opacity: 1;
          transition: $transition;
        }
      }
    }

    .add_task_btn,
    .clear_btn {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1rem;
      border: none;
      outline: none;
      border-radius: 50%;
      padding: .3rem;
      width: 50px;
      height: 50px;
      position: absolute;
      left: calc(100% - 120px);
      top: calc(50% - 25px);
      margin-right: .5rem;
      color: #fff;
      background: $bg-color;
      transition: $transition;
      box-shadow: 0 0 5px #000;
      opacity: 0;

      &:hover {
        color: #000;
        background: $submit-color;
        transition: $transition;
      }

      &:active {
        box-shadow: inset 0 0 5px #000;
      }
    }

    .clear_btn {
      font-size: 1.5rem;
      left: calc(100% - 60px);
      top: calc(50% - 25px);

      &:hover {
        color: #fff;
        background-color: $del-btn-color;
      }
    }
  }
}