$font-body: "Ubuntu", sans-serif;
$font-header: "Kaushan Script", cursive;
$font-size: 1.5rem;
$bg-color: #1E90FF;
$bg-color-alt: #00BFFF;
$submit-color: #00FF7F;
$edit-btn-color: #FFD700;
$del-btn-color: #DC143C;
$transition: .3s ease;